<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index 1</title>
</head>
<body>

<h1>add your text here</h1> <br>
<form action='/analyze' method="get">

<textarea name="text" style="margin: 0px; width: 1329px; height: 155px;">  </textarea>
 <br>
     <input type="checkbox" name="removepunc"> Remove Punctuations<br>

     <input type="checkbox" name="uppercasee"> UPPER CASE <br>
    <input type="checkbox" name="lowerca"> lower case <br>
    <input type="checkbox" name="findnum"> find number <br>

    <button type='submit'> Analyze Text</button>



</form>
</body>
</html>